.signUpContainer{
    /*background-color: #643bc4;*/
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
}
.signUpContainer button{

    /*width:280px ;*/
    /*height: 40px;*/
    width:100% ;
    height: 40px;
    /*background: rgba(21, 104, 246, 0.51);*/
    background-color: #3b5998;
    font-family: monospace;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
}
.signUpContainer button:hover{
    background: rgba(30, 79, 163, 0.51);
}
.signInContainer{
  /*background-color: #c43e3b;*/
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
}
.signInContainer h5{
    position: relative;
    top: 20%;
    left: 25%;
    margin-bottom: 20px;
    font-weight: lighter;
    font-family: monospace;
    font-size: 12px;
    /*font-family: Arial;*/
}
.signInContainer input{
    /*float: left;*/
    position: relative;
    left: 10%;
    width: 75%;
    line-height: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    /*padding-right:12px;*/
    /*box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);*/
    font-family: SemplicitaPro, cursive;
    /*width:80px ;*/
    /*height: 40px;*/
}
.signInContainer h6{
    position: relative;
    float: right;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: monospace;
}
.signInContainer button{

    /*width:280px ;*/
    height: 40px;
    width:100% ;
    /*background: rgba(21, 104, 246, 0.51);*/
    background-color: #3b5998;
    font-family: monospace;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}
.signInContainer button:hover{
    /*background: rgba(87, 148, 250, 0.51);*/
    background: rgba(30, 79, 163, 0.51);
}
.signInMainTopic{
    position: absolute;
    top: 10%;
    left: 38%;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 10px #000000,0 0 60px #000000,0 0 80px #070707,0 0 150px #070707;
    /*box-shadow: 0 0 10px #131313,0 0 40px #555252,0 0 80px #766f79,0 0 150px #ffffff;*/
}
.B_letter{
    font-size: 80px;
}
.resetPasswordFormTopic{
    font-family: monospace;
    font-weight: bold;
    color: #027813;
}